<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <title>ESI-Travel | Encuentra vuelos y hoteles baratos</title>

</head>
<body>

    <nav class="navbar navbar-expand-lg bg-white py-3 cabecera">
        <div class="container-fluid w-75">
            <div class="d-flex align-items-center justify-content-between flex-header">
                <img src="{{ url_for('static', filename='logo.png') }}" class="img-fluid rounded-circle" width="20%" alt="Logo ESI-Travel">
                <h1 class="text-black">ESI Travel</h1>
            </div>
            <div class="d-flex flex-wrap">
                <a href="{{ url_for(metodo_accion) }}">
                    <button type="button" class="btn btn-light border-radius-lg btn-header-custom">{{ accion }}</button>
                </a>
                <a href="{{ url_for('registrar') }}">
                    <button type="button" class="btn btn-dark border-radius-lg btn-header-custom ms-3">Regístrate</button>
                </a>
            </div>
        </div>
    </nav>

    <section class="container-fluid w-75 py-5">
        <div class="d-flex justify-content-center">
            <div class="caja busqueda p-4">
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="form-floating input-ciudades">
                        <input type="email" class="form-control" id="inputOrigen" placeholder="Origen" required>
                        <label for="inputOrigen">Origen</label>
                    </div>
                    <div class="form-floating input-ciudades">
                        <input type="email" class="form-control" id="inputDestino" placeholder="Destino" required>
                        <label for="inputDestino">Destino</label>
                    </div>
                </div>

                <div class="d-flex flex-wrap py-4"> <!-- TODO: Poner como valor inicial la fecha actual y demás funcionalidades -->
                    <label class="text-white me-3" for="inputFechaSalida">Salida</label>
                    <input class="me-5" type="date" id="inputFechaSalida" required>
                    <label class="text-white me-3" for="inputFechaLlegada">Llegada</label>
                    <input type="date" id="inputFechaLlegada" required>
                </div>

                <div class="d-flex justify-content-between flex-wrap">
                    <div class="input-group mb-3 input-personas">
                        <select class="form-select" id="inputAdultos" required>
                          <option selected>Adultos (12+)</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                        </select>
                      </div>
                      <div class="input-group mb-3 input-personas">
                        <select class="form-select" id="inputNiños" required>
                          <option selected>Niños (2-11)</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                        </select>
                      </div>
                      <div class="input-group mb-3 input-personas">
                        <select class="form-select" id="inputBebes" required>
                          <option selected>Bebés (menor de 2)</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                        </select>
                      </div>
                </div>

                <div class="d-flex flex-wrap align-items-center">
                    <div class="input-group mb-3 mt-2 w-50">
                        <select class="form-select" id="inputDinero" required>
                          <option selected>Precio máximo (€)</option>
                          <option value="1">50-100</option>
                          <option value="2">100-150</option>
                          <option value="3">150-200</option>
                          <option value="4">200-300</option>
                          <option value="5">300-400</option>
                          <option value="6">+400</option>
                        </select>
                    </div>
                    <div class="form-check form-switch ms-4">
                        <input class="form-check-input" type="checkbox" role="switch" id="checkVueloDirecto" checked required>
                        <label class="form-check-label text-white" for="flexSwitchCheckChecked">Vuelo directo</label>
                    </div>
                </div>

                <button class="btn btn-outline-light btn-lg px-5 mt-4" type="submit">Buscar</button>
            </div>
        </div>
    </section>

</body>
</html>